# Titanic Dataset Kaggle Competition
#### Farahana, 6/8/2020

1. Problem: Prediction the survived people on-board. 
2. Target : To get 90% above accuracy when submitted to the board.
3. Data   : Training set with given survived people and Test (will be called validation set) set with unknown survival.

In [1]:
# import packages
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Input train and validation data files
train_data = pd.read_csv('train.csv')
valid_data = pd.read_csv('test.csv')

Let us do simple EDA. Check the shape, info, missing values and type of features.

In [4]:
train_data.shape

(891, 12)

In [5]:
valid_data.shape

(418, 11)

In [6]:
print(train_data.columns)
print(valid_data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
train_data.isna().sum()
# checking missing data

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
# Get the non-missing value of embarked for 
train_3feature = train_data.loc[train_data.Embarked.notna(), ['Survived', 'Pclass', 'Sex', 'Embarked']]

In [10]:
train_3feature.shape

(889, 4)

In [11]:
train_3feature.isna().sum()

Survived    0
Pclass      0
Sex         0
Embarked    0
dtype: int64

In [12]:
train_3feature.head()

   Survived  Pclass     Sex Embarked
0         0       3    male        S
1         1       1  female        C
2         1       3  female        S
3         1       1  female        S
4         0       3    male        S

Let us classify with common machine learning, Logistic Regression with cross-validation.

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [26]:
X = train_3feature.loc[:, ['Pclass']] #to make 2D data
y = train_3feature.Survived

In [27]:
logreg = LogisticRegression(solver='lbfgs')
print(cross_val_score (logreg, X, y, cv=5, scoring='accuracy'))

[0.6011236  0.6741573  0.6741573  0.71910112 0.72316384]

In [28]:
y.value_counts(normalize=True)

0    0.617548
1    0.382452
Name: Survived, dtype: float64

Encode the non-numeric data such as 'Sex' and 'Embarked'.

In [29]:
from sklearn.preprocessing import OneHotEncoder

encoder1hot = OneHotEncoder(sparse=False)
encoder1hot.fit_transform(train_3feature[['Sex']])

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]])

In [30]:
encoder1hot.categories_

[array(['female', 'male'], dtype=object)]